body {
  background-color: #050707;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #CAC6DD;
}

@import url('./nav-menu.scss');

.text-white {
  color: #fff;
}

a {
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid #00C4F4;
    color: #fff;
    opacity: 0.6 !important;
  }
}
.upper-case {
  text-transform: uppercase;
}

.container-gap {
  margin-top: 80px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

.header {
  margin: 0 auto;
  width: 1170px;
}

.header-logo {
  background-image: url("./assets/link-logo.svg");
  background-color: transparent;
  width: 138px;
  height: 48px;
}

.title-logo {
  position: absolute;
  background-image: url("./assets/title-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1440px;
}

.main-logo {
  position: relative;
  // background-image: url("./assets/main-brainwave-hero-app.svg");
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position-x: center;

  // @media (max-width: 767px) {
  //   background-position: initial;
  // }
  width: 100%;

  .main-shadow {
    position: absolute;
    width: 86%;
    height: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0px 0px 20px 20px;
    bottom: -24px;
    background-color: #1B1B2E;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.nav-selected {
  border-bottom: 2px solid #00C4F4;
}

.header-nav {
  padding: 0px;
  color: #fff;

  .nav-selected {
    border-bottom: 2px solid #00C4F4;
  }
}

.app-button {
  max-width: 240px;
  height: 48px;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;

  text-transform: uppercase;
  background: linear-gradient(107.26deg, #566070 15%, #060606 100%);
  font-size: 14px !important;
  color: #FBFAFF !important;
  border: none !important;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: none;
  }
}

.text-title {
  font-size: 60px;
  color: #fff;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.text-hight-light {
  color: #00C4F4;
}

hr {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
}

.region-box-logo {
  background-image: url("./assets/background-algorithm.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;

  @media (max-width: 767px) {
    height: 300px;
  }
}

.tag-paper-logo {
  background-image: url("./assets/tag-tech-paper.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 468px;
  @media (max-width: 767px) {
    height: 300px;
  }
}

.tag-developer-logo {
  background-image: url("./assets/tag-developer.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;

  @media (max-width: 767px) {
    height: 300px;
  }
}

.tag-network-logo {
  background-image: url("./assets/tag-network.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;

  @media (max-width: 767px) {
    height: 400px;
  }
}

.tag-token-logo {
  background-image: url("./assets/tag-token.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;

  @media (max-width: 767px) {
    height: 360px;
  }
}


.tag-trade {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 326px;

  @media (max-width: 767px) {
    height: 200px;
  }
}

.tag-trade-left {
  background-image: url("./assets/tag-trade-left.svg");
}

.tag-trade-right {
  background-image: url("./assets/tag-trade-right.svg");
}

.tag-contact {
  background-image: url("./assets/background-box-50.svg");
  background-size: 100% 320px;
  background-repeat: no-repeat;
  width: 100%;
  height: 270px;

  @media (max-width: 767px) {
    height: 240px;
  }
}

.social-icons {
  background-image: url("./assets/tag-contact-social-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.social2-icons {
  background-image: url("./assets/tag-contact-social2-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.box {
  background-image: url("./assets/background-box-30.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 280px;
  gap: 12px;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 28px;

  background-image: url("./assets/background-footer.svg");
  background-size: 100% 512px;
  background-repeat: no-repeat;

  .copy-right {
    width: 100%;
    border-top: 1.16px solid #1F2B15
  }

  @media (max-width: 767px) {
    background-size: 100% 572px;
  }
}

// font-weight
@for $i from 1 through 10 {
  .font-weight-#{$i * 100} {
    font-weight: #{$i * 100};
  }
}

// font-size
@for $i from 1 through 72 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }

  .font-size-sm-#{$i} {
    @media (max-width: 767px) {
      font-size: #{$i}px !important;
    }
  }
}

// gap-size
@for $i from 1 through 80 {
  .gap-#{$i} {
    gap: #{$i}px;
  }

  .gap-sm-#{$i} {
    @media (max-width: 767px) {
      gap: #{$i}px !important;
    }
  }
}

.tag-arrow {
  width: 4px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url("./assets/vector-left.svg");

  &.right {
    background-image: url("./assets/vector-right.svg");
  }
}

.sub-details {
  color: #B6B1C8;
}

h5 {
  @media (max-width: 767px) {
    font-size: 16px;
  }
}